.searchInput {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: relative;
  display: inline-block;
  height: 26px;
  background-color: transparent; }

.searchInput input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 24px;
  padding: 0 6px;
  border: 1px solid #000;
  position: relative; }

.searchInput input.error {
  border: 1px solid red; }

.searchInput input.required,
.searchInput input.incomplete {
  border: 1px solid darkorange; }

.searchInput input:focus {
  border-style: dashed; }

.searchInput input.visible {
  background: transparent;
  display: inline;
  vertical-align: top;
  line-height: 24px;
  /* the same value as height */
  outline: none; }

.searchInput input.shadow {
  position: absolute;
  left: -9999px; }

.searchInput div.inputBackground {
  height: 24px;
  font-size: 16px;
  position: absolute;
  top: 0;
  /* line-height: $height; */
  /* height (26) less top and bottom border (2 x 1) */
  border: 1px solid #ffffff;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 6px;
  background-color: #fff; }

.searchInput div.inputBackground span {
  font-size: 16px;
  color: #aaa;
  line-height: 24px;
  background-color: #fff; }

.searchInput div.dropList {
  display: none;
  font-size: 16px;
  border: 0.5px solid darkorange;
  background: #fff;
  margin: 0;
  position: absolute;
  top: 25px;
  line-height: 24px;
  /* some figure yet to be determined */
  z-index: 200;
  cursor: pointer; }

.searchInput div.dropList div {
  white-space: nowrap;
  padding: 0 6px;
  z-index: 200; }

.searchInput div.dropList.calcSize div {
  display: block !IMPORTANT; }

.searchInput > div.dropList.calcSize {
  display: block !IMPORTANT;
  position: absolute;
  left: -9999px; }

.searchInput.active div.dropList.allShowing,
.searchInput.active div.dropList.someShowing {
  display: block; }

.searchInput.active div.dropList.allShowing div {
  display: block;
  padding: 0 6px; }

.searchInput.active div.dropList.someShowing div {
  display: none;
  padding: 0 6px; }

.searchInput.active div.dropList.someShowing div.show {
  display: block;
  padding: 0 6px; }

.searchInput.active div.dropList > div {
  font-size: 16px;
  padding: 0;
  padding: 0 6px; }

.searchInput.active div.dropList > div:hover {
  background-color: #FFE2BF;
  padding: 0 6px; }

.searchInput.active div.dropList > div.highlight {
  background-color: #FFC57F;
  padding: 0 6px; }

.searchInput button.upDownButton {
  display: none;
  line-height: 24px;
  /* height (26) less top and bottom border (2 x 1) */
  padding: 0;
  margin: 0;
  border: none; }

.searchInput.active button.upDownButton {
  font-size: 16px;
  display: inline;
  width: 26px;
  height: 26px;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: top; }

.searchInput.active button.upDownButton:disabled {
  cursor: default; }

.searchInput.active button.upDownButton:before {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  content: url(downArrow.svg); }

.searchInput.active button.upDownButton:disabled:before {
  opacity: 0.4; }

.searchInput.active button.upDownButton.up:before {
  content: url(upArrow.svg); }

.searchInput.active button.upDownButton.upAndFilter:before {
  content: url(upAndFilter.svg); }

.searchInput img {
  margin-left: -26px; }

/*# sourceMappingURL=searchInput.css.map */
