{% macro searchInputHeader () %}
  <link rel="stylesheet" type="text/css" href="/global/searchInput.css" />
  <script type="text/javascript" src="/global/searchInput.js" charset="utf-8"></script>
  <script>
    window.addEventListener("click", SearchInput.outsideClick);
  </script>
{% endmacro %}
{% macro searchInput (id, dropListId, entityLabel, arg) %}<div class="form-item">
	<label for="searchInput-1">{{entityLabel}}</label><!--
	--><div id="{{id}}" class="searchInput" data-args="{{arg}}">
    	<div class="inputBackground">&nbsp;</div><!-- 
     --><input id="searchInput-1" class="visible" type="text" oninput="SearchInput.filterItems2(this)" onfocus="SearchInput.activateSearchInput(event)" onblur="SearchInput.deactivateSearchInput(event)" onkeydown="SearchInput.menuKeyHandler(event,this)"><!-- 
     --><button class="upDownButton" onclick="SearchInput.toggleItemList2(event,this)" tabindex="-1" type="button" title="Show all" onblur="SearchInput.deactivateSearchInput(event)"></button><!-- 
     --><input class="shadow" type="text"><!-- 
     --><div id="{{dropListId}}" class="dropList" data-loaded="true"><!-- content loaded via web sockets --></div>
	</div>
</div>
{% endmacro %}
